/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-gr-border-color: #D9D9D9;
    --filter-txt-color: #FFFFFF;
    
}
body {
    display: flex;
    justify-content: center;
    
}



header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: cadetblue; */
    align-items: center;
    height: 79px;
}

.navalign {
        align-self: flex-start;
}
.navalign a{
    padding: 16px;
    text-decoration: none;
    color: black;
    display: inline-block;
    border-top: 2px solid transparent; 
}   
.navalign a:hover{
    color: var(--main-color);
border-top: 2px solid var(--main-color);    
}

.navheader {
    margin-left: 30px;

}
.logoheader {
    width: 61.09px;
    height: 19px; 
}

/* search bar style */
form{
    display: flex;
    flex-direction: row;
    
    height: 49px;
    margin-top: 35px;
    margin-bottom: 50px;
    align-items: center;
        
}


.background-icon-search{
    height: 100%;
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--filter-gr-border-color);
    border: 1px solid var(--filter-gr-border-color);
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
}
.background-icon-search i{
    color: #000;
}

.search-champ {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    height: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 14px 21px 14px 21px;
    /* background-color: cadetblue; */
}
.btn-search{
    display: flex;
    background-color: var(--main-color);
    font-size: 18px;
    text-align: center;
    align-items: center;
    padding: 0 14px 0 14px;
    height: 100%;
    color: var(--filter-txt-color);
    font-weight: 700;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    box-sizing: border-box;
}
.btn-search:hover{
    box-shadow: 2px 2px 14px var(--main-color);
cursor: pointer;
}

/* search bar style  end*/


/* menu filter economique familial romantique et nos petites */

.navfilter{
    display: flex;
    /* flex-direction: row; */
    column-gap: 2%;
    height: 50px;
    
    align-items: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.navfilter h3 a {
    display: flex;
    display: inline-block;
    /* text-decoration: none; */
    /* color: black; */
}
.navfilter a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding-right: 0.8em;
    border: 2px solid var(--filter-gr-border-color);
    border-radius: 25px;
    box-sizing: border-box;
}
.navfilter i{
    padding: 0.8em;
   
}

.navfilter a:hover {
    color: var(--main-color);
    border-radius:  30px;
    box-shadow: 2px 2px 10px var(--filter-gr-border-color);
       /* background-color: var(--main-color); */
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}


/* Plus de 500 logements sont disponibles dans cette ville */
.info-bloc { 
    display: flex;
    flex-direction: row;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    height: 49px;
    align-items: center;    
    
}
.aligni {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.info-icon i{
    color: black;

   
}
.info-text {
    color: #000;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.8em;
    display: inline-block;
    
}
/* FIN  Plus de 500 logements sont disponibles dans cette ville */




.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    /* box-sizing: border-box; */
    
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}


.card-title {
    font-size: 16px;
    font-weight: 700;
}

.card-subtitle{
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 700;
}
.fa-solid {
    color: var(--main-color);
}
.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--filter-gr-border-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;

  }
.hebergements .more{
    display: inline-block;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    
}
.hebergements .more:hover{
    color: var(--main-color);
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hebergements-cards{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
} 
.hebergements-cards .clic{
    display: flex;
    display: block;
    text-decoration: none;
    color: #000;
    width: 29%;
}


.hebergements-cards .card {
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 206px;
 
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  
}

.hebergements-cards .card-title {
    margin-top: 8px;
}  

.hebergements-cards .card-subtitle {
    margin-top: 8px;
}

.hebergements-cards .card-rating {
   
/* Les étoiles des cartes hébergement */
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires .clic{
    display: flex;
    display: block;
    text-decoration: none;
    color: #000;
    
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Activité à Marseille card */


.section-activite {
    
    /* background-color: green; */
    padding: 30px;
    box-sizing: border-box;

}


.activiterow{
    display: flex;
    margin-top: 33px;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 30px;
    
} 


.activite-cards .card {
    /* margin-top: 30px; */
    width: 22%;
    display: flex;
    flex-direction: column;    
   
  /* flex-basis: 33%; */
}
.activite-cards a{
    display: inline-block;
    color: #000;
    text-decoration: none;
}

/* Changement de la largeur */
.activite-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
   
}

.activite-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activite-cards .card-title {
         
    padding: 19px 20px 19px 20px ;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    /* .populaires-cards .card  { */
    .populaires-cards .clic {

        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activite-cards img {
        height: 200px;
    }
    .activite-cards .card-title {
     font-size: 14px;    
        padding: 8px 10px 8px 8px ;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}