/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --filter-txt-color: #FFFFFF;
    
}
body {
    display: flex;
    justify-content: center;
   
}



.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    min-width: 1024px;
    background-color: var(--filter-txt-color);
    
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}


.card-title {
    font-size: 16px;
    font-weight: 700;
}

.card-subtitle{
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 700;
}
.fa-solid {
    color: var(--main-color);
}
.neutralStar {
    color: var(--main-bg-color)
}

/* En tête de  page */
header { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 79px;
    
}

.nav-align {
        align-self: flex-start;
        
}
.nav-text a{
    padding-top: 16px;
    margin-left: 69px;
    text-decoration: none;
    color: black;
    display: inline-block;
    border-top: 2px solid transparent; 
}   
.nav-text a:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color);    
}


.logo-header {
    width: 61.09px;
    height: 19px; 
}

/* search bar style */
form{
    display: flex;
    flex-direction: row;
    
    height: 49px;
    margin-top: 35px;
    margin-bottom: 50px;
    align-items: center;
        
}


.background-icon-search{
    height: 100%;
    width: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
}
.background-icon-search i{
    color: #000;
}

.search-field {
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 14px 21px 14px 21px;
   
}
.search-field:hover {
    pointer-events: painted;
}
.search-field:focus{
    outline: none;
    border: 4px solid yellow;   
}
.search-field::placeholder{
    opacity: 1;
    color: black;
}

.btn-search{
    display: flex;
    background-color: var(--main-color);
    font-size: 18px;
    text-align: center;
    align-items: center;
    padding: 0 14px 0 14px;
    height: 100%;
    color: var(--filter-txt-color);
    font-weight: 700;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    box-sizing: border-box;
}
.btn-search:hover{
    box-shadow: 2px 2px 14px var(--main-color);
    cursor: pointer;
    /* pointer-events: none; */
}

/* search bar style  end*/


/* menu filter economique familial romantique et nos petites */

.nav-filter{
    display: flex;
    column-gap: 2%;
    height: 50px;
    align-items: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.nav-filter h3 a {
    /* display: flex;
    display: inline-block; */
}
.nav-filter a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    padding-right: 0.8em;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
  
}
.nav-filter i{
    padding: 0.8em;
}

.nav-filter a:hover {
    color: none;
    border-radius:  30px;
    background-color: var(--filter-bg-color);
}


/* Plus de 500 logements sont disponibles dans cette ville */
.info-bloc { 
    display: flex;
    flex-direction: row;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    height: 49px;
    align-items: center;    
    
}
.aligni {
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-bg-color);
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    align-items: center;
}
.info-icon i{
    color: var(--main-color);

   
}
.info-text {
    color: #000;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.8em;
    display: inline-block;
    
}
/* FIN  Plus de 500 logements sont disponibles dans cette ville */



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;

  }
.hebergements .more{
    display: inline-block;
    color: #000;
    font-weight: 700;
    text-decoration: none;
    /* margin-top: auto; */
    
}
.hebergements .more:hover{
    color: none;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hebergements-cards{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 30px;
} 
.hebergements-cards .clic{
    display: flex;
    display: block;
    text-decoration: none;
    color: #000;
    width: 30%;
}


.hebergements-cards .card {
    display: flex;
    flex-direction: column;    
    width: 100%;
    height: 206px;
 
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.hebergements-cards .card-content {
    height: 100%;
    padding-left: 15px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  
}

.hebergements-cards .card-title {
    margin-top: 4px;
}  

.hebergements-cards .card-subtitle {
    margin-top: 8px;
}

.hebergements-cards .card-rating {
   
/* Les étoiles des cartes hébergement */
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires .clic{
    display: flex;
    display: block;
    text-decoration: none;
    color: #000;
    
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Activité à Marseille card */


.section-activite {
    
    /* background-color: green; */
    padding: 30px;
    box-sizing: border-box;

}


.activite{
    display: flex;
    margin-top: 33px;
    flex-direction: row;   
    justify-content: space-between;
    gap: 30px;
    
} 


.activite-cards .card {
    /* margin-top: 30px; */
    width: 22%;
    display: flex;
    flex-direction: column;    
   
  /* flex-basis: 33%; */
}
.activite-cards a{
    display: inline-block;
    color: #000;
    text-decoration: none;
}

/* Changement de la largeur */
.activite-cards img {
    width: 100%;
    height: 20em;
    border-radius: 15px 15px 0 0;
   
}

.activite-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.activite-cards .card-title {
         
    padding: 19px 20px 19px 20px ;
}


/* footer  */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
background-color: var(--main-bg-color);    
}
footer h3{
    font-size: 18px;
    font-weight: 700;
}
footer a {
    display: flex;
    display: inline-block;
    padding-top: 15px;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
}
footer section {
    flex-basis: 33%;
}
footer ul{
    list-style: none;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    /* .populaires-cards .card  { */
    .populaires-cards .clic {

        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activite-cards img {
        height: 200px;
    }
    .activite-cards .card-title {
     font-size: 14px;    
        padding: 8px 10px 8px 8px ;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}